.input {
  display: grid;
  gap: 10px;

  .input {
    border: none;
    padding: 10px 30px;
    outline: none;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;

    &:focus {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      background: rgba(255, 255, 255, 0.2);
    }
  }

  .container {
    display: flex;
    justify-content: space-between;

    .label {
      font-size: 18px;
      color: white;
    }

    .error {
      color: rgb(223, 9, 9);
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.noSpinner::-webkit-outer-spin-button,
.noSpinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
